@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@font-face {
    font-family: 'Pokemon Solid';
    src:
        url('/Assets/Fonts/Pokemon_Solid.ttf') format('truetype'),
        url(/Assets/Fonts/pokemon_solid-webfont.woff) format('woff'),
        url(/Assets/Fonts/pokemon_solid-webfont.woff2) format('woff2');
    font-style: normal;
    font-weight: bold;
}
:root{
    --blue-border: #008DD5;
    --blue-shadow: rgba(9, 73, 105, .5);
    --bg-white: rgba(255, 255, 255, .6);
    --input-text: rgba(60, 60, 60, .7);
    --lemon-yellow: #F7F052;
    --pokeball-red: rgb(221, 45, 39);
    --pokedex-bg: rgb(238, 65, 59);
    --transition: color 0.1s, background-color 0.2s ease-in-out;
    --base-skill-length: 0%;
}
*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: 'Open Sans', sans-serif;
    background-image: url('../Img/pokemon_grass.jpg');
    background-attachment: fixed;
    background-size: cover;
}
.container{
    display: grid;
    padding: 15px;
}
/* Titulo principal de la pagina */
.title{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, .5fr);
    justify-items: center;
    margin: 0;
}
.title a{
    text-decoration: none;
    font-size: 4rem;
    font-family: 'Pokemon Solid';
    color: var(--lemon-yellow);
    -webkit-text-stroke: 4px var(--blue-border);
    text-shadow: -4px 3px 0 var(--blue-shadow), -14px 7px 0 #0a0e27;
}
/* Cuadro de busqueda de Pokemon's */
.poke-search{
    display: flex;
    border-radius: 10px;
    margin: 10px;
    justify-content: space-around;
    background-color: var(--bg-white);
}
.poke-search input{
    padding: 5px;
    border: 0px;
    border-radius: 10px 0 0 10px;
    height: 25px;
    width: 60%;
    color: var(--input-text);
    font-weight: 600;
    outline: none;
}
.poke-search::focus{
    outline: none;
}
.poke-search button{
    position: relative;
    left: -10px;
    width: 25%;
    height: 35px;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    font-weight: 600;
    color: #FFF;
    background-color: var(--blue-border);
    outline: none;
    border: 0px;

}
.poke-search button:hover{
    color: #FFF;
    background-color: var(--pokeball-red);
}
/* Representacion de el pokemon */
.screen{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 250px;
}
.sprite{
    position: absolute;
    top: 80px;
    z-index: 2;
}
.bg-pokemon{
    position: absolute;
    border-radius: 50%;
    height: 300px;
    top: 22px;
    border: 8px solid var(--bg-white);
    z-index: 1;
}
/* Despliegue de información del pokemon */
.poke-info{
    background-color: #FFF;
    border-radius: 20px;
    padding: 30px;
    margin: 0 35px 0;
    font-weight: 600;
    z-index: -1;
}
.data{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 67px;
    color: var(--input-text);
}
.data h1{
    grid-column: 1/4;
    grid-row: 2/3;
    justify-self: center;
}
#num-id{
    grid-row: 3/4;
}
#tipos{
    grid-row: 3/4;
}
#pok-height{
    grid-row: 3/4;
}
#habilidades{
    grid-column: 1/2;
    grid-row: 4/5;
}
/* Barras de estadísticas */
.skill{
    grid-column: 2/3;
    grid-row: 4/8;
}
.skill-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.base-skill,
.base-skill::after{
    position: relative;
    width: 250px;
    height: 8px;
    background-color: #8888;
    border-radius: 5px;
    overflow: hidden;
}
.base-skill::after{
    content: '';
    position: absolute;
    left: -250px;
    background-color: var(--blue-border);
    transition: .7s all;
    animation: skill_base_fill 2s ease-in-out forwards;
}
.skill-fill-100::after {
    --base-skill-length: 100%;
}
.skill-fill-95::after {
    --base-skill-length: 95%;
}
.skill-fill-90::after {
    --base-skill-length: 90%;
}
.skill-fill-85::after {
    --base-skill-length: 85%;
}
.skill-fill-80::after {
    --base-skill-length: 80%;
}
.skill-fill-75::after {
    --base-skill-length: 75%;
}
.skill-fill-70::after {
    --base-skill-length: 70%;
}
.skill-fill-65::after {
    --base-skill-length: 65%;
}
.skill-fill-60::after {
    --base-skill-length: 60%;
}
.skill-fill-55::after {
    --base-skill-length: 55%;
}
.skill-fill-50::after {
    --base-skill-length: 50%;
}
.skill-fill-45::after {
    --base-skill-length: 45%;
}
.skill-fill-40::after {
    --base-skill-length: 40%;
}
.skill-fill-35::after {
    --base-skill-length: 35%;
}
.skill-fill-30::after {
    --base-skill-length: 30%;
}
.skill-fill-25::after {
    --base-skill-length: 25%;
}
.skill-fill-20::after {
    --base-skill-length: 20%;
}
.skill-fill-15::after {
    --base-skill-length: 15%;
}
.skill-fill-10::after {
    --base-skill-length: 10%;
}

@keyframes skill_base_fill {
    to{
        transform: translate(var(--base-skill-length));
    }
}