@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@font-face {
    font-family: 'Pokemon Solid';
    src:
        url('/Assets/Fonts/Pokemon_Solid.ttf') format('truetype'),
        url(/Assets/Fonts/pokemon_solid-webfont.woff) format('woff'),
        url(/Assets/Fonts/pokemon_solid-webfont.woff2) format('woff2');
    font-style: normal;
    font-weight: bold;
}
:root{
    --blue-border: #008DD5;
    --blue-shadow: rgba(9, 73, 105, .5);
    --bg-white: rgba(255, 255, 255, .6);
    --input-text: rgba(60, 60, 60, .7);
    --lemon-yellow: #F7F052;
    --pokeball-red: rgb(221, 45, 39);
    --pokedex-bg: rgb(238, 65, 59);
    --transition: color 0.1s, background-color 0.2s ease-in-out;
    --base-skill-length: 0%;
}
*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: 'Open Sans', sans-serif;
    background-image: url('../Img/pokemon_grass.jpg');
    background-attachment: fixed;
    background-size: cover;
}
.container{
    display: grid;
    padding: 15px;
}
/* Titulo principal de la pagina */
.title{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, .5fr);
    justify-items: center;
    margin: 0;
}
.title a{
    text-decoration: none;
    font-size: 4rem;
    font-family: 'Pokemon Solid';
    color: var(--lemon-yellow);
    -webkit-text-stroke: 4px var(--blue-border);
    text-shadow: -4px 3px 0 var(--blue-shadow), -14px 7px 0 #0a0e27;
}
/* Cuadro de busqueda de Pokemon's */
.poke-search{
    display: flex;
    border-radius: 10px;
    margin: 10px;
    justify-content: space-around;
    background-color: var(--bg-white);
}
.poke-search input{
    padding: 5px;
    border: 0px;
    border-radius: 10px 0 0 10px;
    height: 25px;
    width: 60%;
    color: var(--input-text);
    font-weight: 600;
    outline: none;
}
.poke-search::focus{
    outline: none;
}
.poke-search button{
    position: relative;
    left: -10px;
    width: 25%;
    height: 35px;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    font-weight: 600;
    color: #FFF;
    background-color: var(--blue-border);
    outline: none;
    border: 0px;

}
.poke-search button:hover{
    color: #FFF;
    background-color: var(--pokeball-red);
}
/* Representacion de el pokemon */
.screen{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 250px;
}
.sprite{
    position: absolute;
    top: 80px;
    z-index: 2;
}
.bg-pokemon{
    position: absolute;
    border-radius: 50%;
    height: 300px;
    top: 22px;
    border: 8px solid var(--bg-white);
    z-index: 1;
}
/* Despliegue de información del pokemon */
.poke-info{
    background-color: #FFF;
    border-radius: 20px;
    padding: 30px;
    margin: 0 35px 0;
    font-weight: 600;
    z-index: -1;
}
.data{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 67px;
    color: var(--input-text);
}
.data h1{
    grid-column: 1/4;
    grid-row: 2/3;
    justify-self: center;
}
#num-id{
    grid-row: 3/4;
}
#tipos{
    grid-row: 3/4;
}
#pok-height{
    grid-row: 3/4;
}
#habilidades{
    grid-column: 1/2;
    grid-row: 4/5;
}
/* Barras de estadísticas */
.skill{
    grid-column: 2/4;
    grid-row: 4/8;
}
.skill-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.base-skill,
.base-skill::after{
    grid-column: 2/4;
    position: relative;
    width: 250px;
    height: 8px;
    background-color: #8888;
    border-radius: 5px;
    overflow: hidden;
}
.base-skill::after{
    content: '';
    position: absolute;
    left: -250px;
    background-color: var(--pokedex-bg);
    transition: .7s all;
    animation: skill_base_fill 7s ease-in-out forwards;
}
@media screen and (max-width:800px) {
    .skill{
        grid-column: 1/4;
        grid-row: auto;
    }

}
.skill-fill-100::after {
    --base-skill-length: 100%;
}
.skill-fill-99::after {
    --base-skill-length: 99%;
}
.skill-fill-98::after {
    --base-skill-length: 98%;
}
.skill-fill-97::after {
    --base-skill-length: 97%;
}
.skill-fill-96::after {
    --base-skill-length: 96%;
}
.skill-fill-95::after {
    --base-skill-length: 95%;
}
.skill-fill-94::after {
    --base-skill-length: 94%;
}
.skill-fill-93::after {
    --base-skill-length: 93%;
}
.skill-fill-92::after {
    --base-skill-length: 92%;
}
.skill-fill-91::after {
    --base-skill-length: 91%;
}
.skill-fill-90::after {
    --base-skill-length: 90%;
}
.skill-fill-89::after {
    --base-skill-length: 89%;
}
.skill-fill-88.base-skill {
    --base-skill-length: 88%;
}
.skill-fill-87::after {
    --base-skill-length: 87%;
}
.skill-fill-86::after {
    --base-skill-length: 86%;
}
.skill-fill-85::after {
    --base-skill-length: 85%;
}
.skill-fill-84::after {
    --base-skill-length: 84%;
}
.skill-fill-83::after {
    --base-skill-length: 83%;
}
.skill-fill-82::after {
    --base-skill-length: 82%;
}
.skill-fill-81::after {
    --base-skill-length: 81%;
}
.skill-fill-80::after {
    --base-skill-length: 80%;
}
.skill-fill-79::after {
    --base-skill-length: 79%;
}
.skill-fill-78::after {
    --base-skill-length: 78%;
}
.skill-fill-77::after {
    --base-skill-length: 77%;
}
.skill-fill-76::after {
    --base-skill-length: 76%;
}
.skill-fill-75::after {
    --base-skill-length: 75%;
}
.skill-fill-74::after {
    --base-skill-length: 74%;
}
.skill-fill-73::after {
    --base-skill-length: 73%;
}
.skill-fill-72::after {
    --base-skill-length: 72%;
}
.skill-fill-71::after {
    --base-skill-length: 71%;
}
.skill-fill-70::after {
    --base-skill-length: 70%;
}
.skill-fill-69::after {
    --base-skill-length: 69%;
}
.skill-fill-68::after {
    --base-skill-length: 68%;
}
.skill-fill-67::after {
    --base-skill-length: 67%;
}
.skill-fill-66::after {
    --base-skill-length: 66%;
}
.skill-fill-65::after {
    --base-skill-length: 65%;
}
.skill-fill-64::after {
    --base-skill-length: 64%;
}
.skill-fill-63::after {
    --base-skill-length: 63%;
}
.skill-fill-62::after {
    --base-skill-length: 62%;
}
.skill-fill-61::after {
    --base-skill-length: 61%;
}
.skill-fill-60::after {
    --base-skill-length: 60%;
}
.skill-fill-59::after {
    --base-skill-length: 59%;
}
.skill-fill-58::after {
    --base-skill-length: 58%;
}
.skill-fill-57::after {
    --base-skill-length: 57%;
}
.skill-fill-56::after {
    --base-skill-length: 56%;
}
.skill-fill-55::after {
    --base-skill-length: 55%;
}
.skill-fill-54::after {
    --base-skill-length: 54%;
}
.skill-fill-53::after {
    --base-skill-length: 53%;
}
.skill-fill-52::after {
    --base-skill-length: 52%;
}
.skill-fill-51::after {
    --base-skill-length: 51%;
}
.skill-fill-50::after {
    --base-skill-length: 50%;
}
.skill-fill-49::after {
    --base-skill-length: 49%;
}
.skill-fill-48::after {
    --base-skill-length: 48%;
}
.skill-fill-47::after {
    --base-skill-length: 47%;
}
.skill-fill-46::after {
    --base-skill-length: 46%;
}
.skill-fill-45::after {
    --base-skill-length: 45%;
}
.skill-fill-44::after {
    --base-skill-length: 44%;
}
.skill-fill-43::after {
    --base-skill-length: 43%;
}
.skill-fill-42::after {
    --base-skill-length: 42%;
}
.skill-fill-41::after {
    --base-skill-length: 41%;
}
.skill-fill-40::after {
    --base-skill-length: 40%;
}
.skill-fill-39::after {
    --base-skill-length: 39%;
}
.skill-fill-38::after {
    --base-skill-length: 38%;
}
.skill-fill-37::after {
    --base-skill-length: 37%;
}
.skill-fill-36::after {
    --base-skill-length: 36%;
}
.skill-fill-35::after {
    --base-skill-length: 35%;
}
.skill-fill-34::after {
    --base-skill-length: 34%;
}
.skill-fill-33::after {
    --base-skill-length: 33%;
}
.skill-fill-32::after {
    --base-skill-length: 32%;
}
.skill-fill-31::after {
    --base-skill-length: 31%;
}
.skill-fill-30::after {
    --base-skill-length: 30%;
}
.skill-fill-29::after {
    --base-skill-length: 29%;
}
.skill-fill-28::after {
    --base-skill-length: 28%;
}
.skill-fill-27::after {
    --base-skill-length: 27%;
}
.skill-fill-26::after {
    --base-skill-length: 26%;
}
.skill-fill-25::after {
    --base-skill-length: 25%;
}
.skill-fill-24::after {
    --base-skill-length: 24%;
}
.skill-fill-23::after {
    --base-skill-length: 23%;
}
.skill-fill-22::after {
    --base-skill-length: 22%;
}
.skill-fill-21::after {
    --base-skill-length: 21%;
}
.skill-fill-20::after {
    --base-skill-length: 20%;
}
.skill-fill-15::after {
    --base-skill-length: 15%;
}
.skill-fill-14::after {
    --base-skill-length: 14%;
}
.skill-fill-13::after {
    --base-skill-length: 13%;
}
.skill-fill-12::after {
    --base-skill-length: 12%;
}
.skill-fill-11::after {
    --base-skill-length: 11%;
}
.skill-fill-10::after {
    --base-skill-length: 10%;
}
.skill-fill-9::after {
    --base-skill-length: 9%;
}
.skill-fill-8::after {
    --base-skill-length: 8%;
}
.skill-fill-7::after {
    --base-skill-length: 7%;
}
.skill-fill-6::after {
    --base-skill-length: 6%;
}
.skill-fill-5::after {
    --base-skill-length: 5%;
}
.skill-fill-4::after {
    --base-skill-length: 4%;
}
.skill-fill-3::after {
    --base-skill-length: 3%;
}
.skill-fill-2::after {
    --base-skill-length: 2%;
}
.skill-fill-1::after {
    --base-skill-length: 1%;
}

@keyframes skill_base_fill {
    to{
        transform: translate(var(--base-skill-length));
    }
}